a {
  color: #c8c8c8;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
  color: #c8c8c8;
  padding: 1.5rem 2.5rem 3.5rem 2.5rem;
  /* background-color: rgba(41, 41, 43, 0.4); */
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.logo img {
  height: 20vh;
}

.search input {
  margin-top: 1.5rem;
  padding: 1rem;
  border-color: white;
  border-style: groove;
  border-radius: 1rem;
  height: 1vh;
  width: 100%;
  background-color: #3E3C59;
  color: white;
}

.search input::placeholder {
  color: white;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #f8f6f6;
  margin-top: 1.5rem;
}

ul {
  list-style: none;
  padding: .5rem;
}

ul li {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  cursor: pointer;
  font-size: 1rem;
}

ul li:hover {
  color: #fcfbfb;
  font-weight: 500;
}

ul li i {
  display: flex;
  align-items: center;
  margin-right: .5rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .sidebar {
    width: 25vw;
    padding: 2rem 1rem;
  }

}

@media (max-width: 565px) {
  .sidebar {
    padding: 1rem 1rem;
    margin-right: 1rem;
  }

}

@media (max-width: 416px) {
  .sidebar {
    margin-right: 0;
    padding-top: .5rem;
  }

  .sidebar_menu li span,
  .sidebar_library li span,
  .sidebar_other li span {
    display: none;
  }

  .logo {
    font-size: 1.3rem;
  }

  .logo img {
    height: 23vw;
  }

  .search {
    display: none;
  }

}